*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxy.conf
install-sh
libtool
ltmain.sh
m4/
missing
nxml.pc
src/libnxml.la
src/nxml.h
stamp-h1
test-driver
test/*.log
test/*.trs
test/easy
test/namespace
test/new
test/parser
test/test_base
test/write
